global:
    metacalibration: True
FirecrownPipeline:
    hmf: 'despali16'
    min_mass: 12.0
    max_mass: 15.5
    min_z: 0.2
    max_z: 1.0
    mass_def: '200c'
    use_shear_profile: False
    use_completeness: True
    use_purity: True
    use_grid: True
    is_deltasigma: True
    use_beta_interp: False
    beta_parameters: [10.0, 5.0]
    pivot_mass: 14.3
    pivot_z: 0.5
    survey_name: 'cosmodc2_redmapper'
    sampler: 'emcee'
    use_cluster_counts: True
    use_mean_log_mass: False
    use_mean_deltasigma: False
    set_concentration: False
    emcee_walkers: 50
    emcee_samples: 20000
    emcee_nsteps: 20
    cosmological_parameters:
        omega_c: {'sample': True, 'values': [0.1552, 0.2052, 0.3552]}
        sigma_8: {'sample': True, 'values': [0.7, 0.800, 0.9]}
        omega_k: {'sample': False, 'values': 0.0}
        omega_b: {'sample': False, 'values': 0.0448}
        tau: {'sample': False, 'values': 0.08}
        n_s: {'sample': False, 'values': 0.963}
        h0: {'sample': False, 'values': 0.71}
        w: {'sample': False, 'values': -1.0}
        wa: {'sample': False, 'values': 0.0}
    firecrown_parameters:
        mass_distribution_mu0: {'sample': True, 'values': [1.0, 2.0, 10.0]}
        mass_distribution_mu1: {'sample': True, 'values': [-2.0, 0.8, 2.0]}
        mass_distribution_mu2: {'sample': False, 'values': 0.03723521}
        mass_distribution_sigma0: {'sample': True, 'values': [0.01, 0.3, 5.0]}
        mass_distribution_sigma1: {'sample': False, 'values': 0.0}
        mass_distribution_sigma2: {'sample': False, 'values': 0.0}
        completeness_a_n: {'sample': False, 'values': 0.38}
        completeness_b_n: {'sample': False, 'values': 1.2634}
        completeness_a_logm_piv: {'sample': False, 'values': 13.31}
        completeness_b_logm_piv: {'sample': False, 'values': 0.2025}
        purity_a_n: {'sample': False, 'values': 3.9193}
        purity_b_n: {'sample': False, 'values': -0.3323}
        purity_a_logm_piv: {'sample': False, 'values': 1.1839}
        purity_b_logm_piv: {'sample': False, 'values': -0.4077}
TJPCovPipeline:
    use_mpi: False
    do_xi: False
    #cov_type: [ClusterCountsGaussian]
    #cov_type: [ClusterMass, ClusterCountsGaussian, ClusterCountsSSC]
    cov_type: [ClusterCountsGaussian, ClusterCountsSSC]
    # sacc input file 
    # 'set' from parameters OR pass CCL cosmology object OR yaml file
    cosmo: 'set' 
    fsky: 0.3
    parameters:
        # Not used for while (read by ccl.cosmo):
        Omega_c: 0.22
        Omega_b: 0.0448
        h: 0.71
        n_s: 0.963
        sigma8: 0.8
        w0: -1
        wa: 0
        transfer_function: 'boltzmann_camb'
    photo-z:
        # from DES Y1
        sigma_0: 0.05
    mor_parameters:
        #halo mass function parameters
        mass_func: 'Despali16'
        mass_def: '200c'
        halo_bias: 'Tinker10'
        min_halo_mass: 1.0e12
        max_halo_mass: 1.0e17
        #richness-mass relation parameters (from eq (14) in https://arxiv.org/pdf/1904.07524):
        m_pivot: 14.3
        z_pivot: 0.5
        mu_p0: 3.35518603 
        mu_p1: 1.02354896
        mu_p2: 0.03723521
        sigma_p0: 0.54009686
        sigma_p1: 0.0
        sigma_p2: 0.0
