global:
    metacalibration: True
FirecrownPipeline:
    hmf: 'despali16'
    min_mass: 12.0
    max_mass: 15.5
    min_z: 0.2
    max_z: 0.8
    mass_def: '200c'
    use_shear_profile: True
    use_completeness: True
    use_purity: False
    use_grid: True
    is_deltasigma: True
    use_beta_interp: False
    beta_parameters: [10.0, 5.0]
    pivot_mass: 14.3
    pivot_z: 0.5
    survey_name: 'cosmodc2_redmapper'
    sampler: 'emcee'
    use_cluster_counts: False
    use_mean_log_mass: False
    use_mean_deltasigma: True
    set_concentration: False
    emcee_walkers: 50
    emcee_samples: 20000
    emcee_nsteps: 20
    cosmological_parameters:
        omega_c: {'sample': False, 'values': 0.22} # 'values': [0.1552, 0.2052, 0.3552]}
        sigma_8: {'sample': False, 'values': 0.8} # [0.7, 0.800, 0.9]}
        omega_k: {'sample': False, 'values': 0.0}
        omega_b: {'sample': False, 'values': 0.0448}
        tau: {'sample': False, 'values': 0.08}
        n_s: {'sample': False, 'values': 0.963}
        h0: {'sample': False, 'values': 0.71}
        w: {'sample': False, 'values': -1.0}
        wa: {'sample': False, 'values': 0.0}
    firecrown_parameters:
        mass_distribution_mu0: {'sample': True, 'values': [1.0, 3.0, 10.0]}
        mass_distribution_mu1: {'sample': True, 'values': [-2.0, 0.8, 2.0]}
        mass_distribution_mu2: {'sample': True, 'values': [-2.0, -0.3, 2.0]}
        mass_distribution_sigma0: {'sample': True, 'values': [0.02, 0.3, 5.0]}
        mass_distribution_sigma1: {'sample': False, 'values': 0.0}
        mass_distribution_sigma2: {'sample': False, 'values': 0.0}
        completeness_a_n: {'sample': False, 'values': 0.38}
        completeness_b_n: {'sample': False, 'values': 1.2634}
        completeness_a_logm_piv: {'sample': False, 'values': 13.31}
        completeness_b_logm_piv: {'sample': False, 'values': 0.2025}
        purity_a_n: {'sample': False, 'values': 3.9193}
        purity_b_n: {'sample': False, 'values': -0.3323}
        purity_a_logm_piv: {'sample': False, 'values': 1.1839}
        purity_b_logm_piv: {'sample': False, 'values': -0.4077}
        cluster_theory_cluster_concentration: {'sample': True, 'values': [1.0, 2.0, 10.0]}
TJPCovPipeline:
    use_mpi: False
    do_xi: False
    #cov_type: [ClusterCountsGaussian]
    #cov_type: [ClusterMass, ClusterCountsGaussian, ClusterCountsSSC]
    cov_type: [ClusterCountsGaussian, ClusterCountsSSC]
    # sacc input file 
    # 'set' from parameters OR pass CCL cosmology object OR yaml file
    cosmo: 'set' 
    fsky: 0.3
    parameters:
        # Not used for while (read by ccl.cosmo):
        Omega_c: 0.22
        Omega_b: 0.0448
        h: 0.71
        n_s: 0.963
        sigma8: 0.8
        w0: -1
        wa: 0
        transfer_function: 'boltzmann_camb'
    photo-z:
        # from DES Y1
        sigma_0: 0.05
    mor_parameters:
        #halo mass function parameters
        mass_func: 'Despali16'
        mass_def: '200c'
        halo_bias: 'Tinker10'
        min_halo_mass: 1.0e12
        max_halo_mass: 1.0e17
        #richness-mass relation parameters (from eq (14) in https://arxiv.org/pdf/1904.07524):
        m_pivot: 14.3
        z_pivot: 0.5
        mu_p0: 3.35518603 
        mu_p1: 1.02354896
        mu_p2: 0.03723521
        sigma_p0: 0.54009686
        sigma_p1: 0.0
        sigma_p2: 0.0
CLClusterSACC:
    survey_name: 'cosmodc2_redmapper'
    area: 440.0
    d_min: 1.1
    d_max: 3.68
    cov_component: "tan_bs"
TXSourceSelectorMetadetect:
    input_pz: false
    bands: riz #used for selection
    T_cut: 0.5
    s2n_cut: 3.0
    max_rows: 1000
    delta_gamma: 0.02
    source_zbin_edges: [0.1, 3.0]
    chunk_rows: 100000
    true_z: true
    shear_prefix: ''

BPZliteInformer:
    zmin: 0.0
    zmax: 3.0
    nzbins: 301
    columns_file: /sps/lsst/groups/clusters/cl_pipeline_project/TXPipe/data/bpz_riz.columns
    data_path: /sps/lsst/groups/clusters/cl_pipeline_project/TXPipe_data/example/rail-bpz-inputs
    spectra_file: CWWSB4.list
    prior_band: i
    ref_band: i
    # Not sure about this
    prior_file: hdfn_gen
    p_min: 0.005
    gauss_kernel: 0.0
    mag_err_min: 0.005
    inform_options: {save_train: false, load_model: false, modelfile: BPZpriormodel.out}
    madau_reddening: no
    bands: riz
    zp_errors: [0.01, 0.01, 0.01]
    hdf5_groupname: photometry



BPZliteEstimator:
    zmin: 0.0
    zmax: 3.0
    dz: 0.01
    nzbins: 301
    data_path: /sps/lsst/groups/clusters/cl_pipeline_project/TXPipe_data/example/rail-bpz-inputs
    bands: [mag_r, mag_i, mag_z]
    err_bands: [mag_err_r, mag_err_i, mag_err_z]
    hdf5_groupname: shear/00
    nondetect_val: .inf
    columns_file: /sps/lsst/groups/clusters/cl_pipeline_project/TXPipe_data/bpz_riz.columns
    spectra_file: CWWSB4.list
    ref_band: mag_i
    prior_file: hdfn_gen
    p_min: 0.005
    gauss_kernel: 0.0
    zp_errors: [0.01, 0.01, 0.01]
    mag_err_min: 0.005
    madau_reddening: false
    mag_limits:
        mag_r: 29.06
        mag_i: 28.62
        mag_z: 27.98


#        mag_r: 28.
#        mag_i: 24.25
#        mag_z: 23.9

CLClusterBinningRedshiftRichness:
    zedge: [0.2, 0.3, 0.4, 0.5 ,0.6, 0.7, 0.8]
    richedge: [20., 35., 70., 100., 200.]

CLClusterShearCatalogs:
    max_radius: 10.0   # Mpc
    delta_z: 0.2   # redshift buffer
    redshift_cut_criterion: ztrue
    redshift_weight_criterion: ztrue
    redshift_cut_criterion_pdf_fraction: 0.9
    subtract_mean_shear: false
    coordinate_system: celestial #euclidean or celestial
    use_true_shear: true
    use_radius: true
    delta_sigma: true


CLClusterEnsembleProfiles:
    #radial bin definition
    r_min: 1.1  #in Mpc
    r_max: 3.68  #in Mpc
    nbins: 7  # number of bins
    #type of profile
    magnification_profile: false
    coordinate_system: celestial #euclidean or celestial
    units: mpc
    angle_arcmin: 1.5
    angle_arcmax: 22.0
    cov_type: "bootstrap_covariance"
